
html, body{
    overflow-x: hidden;
}

body {
    min-width: 300px;
    max-width: 1240px;
    color: #2d2d2d;
    margin: 0 auto;

    font-size: 16px;
    font-family: 'Raleway', Arial, sans-serif;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', Arial, serif;
    color: #e2574c;
}

nav {
    color: #e2574c;
}

ul {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #b64036
}

a:active {
    text-decoration: underline;
}

.container {
    width: 1240px;
}

.hideText {
    font-size: 0;
}

em {
    font-weight: bolder;
    font-style: normal;
}

strong {
    font-weight: bolder;
    font-style: normal;
}

::placeholder {
    color: darkgrey;
}

/*-------------------------------*/

.mainHeader{
    min-width: 300px;
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
    padding-top: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 100;

    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}

.mainHeader > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHeader > section {
    min-width: 120px;
    justify-content: flex-start; 
}
.mainHeader > aside {
    min-width: 60px;
    justify-content: flex-end;
}

.mainHeader .logo {
    width: 120px;
    height: 60px;
    margin-left: 10px;
    background-image: url(img/aloha-logo.svg);
    background-repeat: no-repeat;
    background-size: 120px auto;
}
.mainHeader nav{
    min-width: 300px;
    max-width: 400px;
}
.mainHeader nav ul{
    min-width: 150px;

    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;

    list-style: none;
    
    display: inline-flex;
    justify-content: space-between; /* align horizontal */
    align-items: center; /* align vertical */
}
.mainHeader nav ul li {
    margin: 10px;
    display: inline;
}

.mainHeader nav a:link,
.mainHeader nav a:visited,
.mainHeader nav a:hover,
.mainHeader nav a:active  {
    color: #e2574c;
}

.shoppingCard {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.shoppingCard > div,
.shoppingCard > div > a{
    width: 60px;
    height: 60px;
}

.shoppingCard .shoppingCardImg {
    position: absolute;
    top: 0;
    right: 0; 
    width: 60px;
    height: 60px;
    background-image: url(img/cart-icon.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.shoppingCard .shoppingCardItens {
    position: absolute;
    top: -6px;
    right: 0;

    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #e2574c;

    display: none;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    font-weight: bolder;
    color: whitesmoke;
}

/*-------------------------------*/

main{
    margin-top: 70px;
}

/*-------------------------------*/

.hero {
    position: relative;
    height: 60vh;
    max-height: 600px;
    color: white;
    background: url(img/banner-girl.png) center 90px no-repeat, url(img/flower-bkgd.jpg) top center no-repeat;
    background-size: contain, cover;
}

.hero section {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.hero .text {
    margin: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px hsla(0,0%,10%,.8);
}

.hero h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
}
.hero h3 {
    font-size: 2.4rem;
    padding-top: 1rem;
    color: white;
}


/* --------------------------------------------------- */

.about{
    height: 280px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    line-height: 2rem;
    color: black;
    font-size: 1.1rem;
}

.about div{
    padding-top: 20px;
    max-width: 540px;
    margin: 0 20px;
}

.about h2{
    color: black;
    font-size: 2.4rem;
    font-style: italic;
    padding-bottom: 2rem;
}

/* --------------------------------------------------- */

.categories{
    width: calc(100% + 10px);
    margin: 0px -5px;
    /* box-sizing: border-box; */
}

.categories ul{
    width: 100%;
    
    list-style: none;
    text-transform: uppercase;
    font-size: 1.8rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.categories ul li{
    width:  calc(25% - 5px);
    min-width: 150px;
    max-width: 350px;

    height: 25vw;
    min-height: 150px;
    max-height: 350px;

    margin: 2.5px;

    flex-grow: 1;
    flex-basis: auto;

    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.categories ul li:first-child,
.categories ul li:last-child{
    width:  calc(50% - 5px);
    min-width: 300px;
    max-width: 700px;

    flex-grow: 2;
}


.categories ul li div{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

.categories a:link,
.categories a:visited,
.categories a:hover,
.categories a:active {
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 4px hsla(0,0%,50%,.8);
}

.menCat{
    background-image: url('img/mens-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.trendsCat{
    background-image: url('img/trends-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.glassesCat{
    background-image: url('img/glasses-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.saleCat{
    background-image: url('img/sale-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bagsCat{
    background-image: url('img/bags-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.womenCat{
    background-image: url('img/womens-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* --------------------------------------------------- */

.products {
    width: 100%;

    display: flex;
    flex-flow: wrap;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.products>header {
    width: 100%;

    margin-top: 45px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    line-height: 2rem;
}

.products h2{
    color: black;
    font-size: 2.3rem;
    font-style: italic;
    padding-bottom: 1rem;
}

.products>section{
    width: 100%;
}

.products div.main-carousel{
    margin-bottom: 60px;
}

.products .carousel-cell{
    width: 25%;
}

.product {
    min-width: 300px;
    max-width: 25vw;

    height: 550px;
    font-size: 1rem;

    display: inline-flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.product img{
    width: 280px;
    height: 300px;
}
.product figcaption{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #969696;
}

.product .title {
    margin-top: 15px;
    margin-bottom: 20px;

    font-size: 1.6rem;
    color: #e2574c;
}

.product .price {
    font-weight: bold; 
    color: #969696;
}

.products footer {
    width: 100%;
    margin-top: 20px;

    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.product footer div {
    width: fit-content;
    margin: 5px;
    border-radius: 25px;
    padding: 15px;

    background-color: black;
    color: white;
}


/* --------------------------------------------------- */

.subscribeSection {
    background: url('img/wave-bkgd.jpg') bottom center no-repeat;
    background-size: cover;
    width: 100%;
    height: 280px;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
    text-align: center;
    line-height: 2em;
    color: white;
}

.subscribeSection section {
    min-width: 250px;
    width: 100%;
    max-width: 600px;
    
    padding: 0 10px;
    margin: 0 10px;

    display: inline-flex;
    justify-content: center; 
    align-items: center; 

    font-size: 1rem;
    line-height: 2em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.subscribeSection section:first-child {
    padding-top: 2rem; 
}
.subscribeSection h2{
    color: white;
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 1rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.subscribeForm {
    width: 100%;
    max-width: 450px;
    margin: 20px;

    background: white;
    border-radius: 28px;
    padding: 5px;

    display: inline-block;
}

.subscribeForm > form {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.subscribeForm input {
    width: 60%;
    outline: none;
    border: none;
    margin-left: 20px;
}

.subscribeForm button {
    min-width: 90px;
    width: 25%;
    outline: none;
    border: none;
    border-radius: 28px;
 
    /* font-family: Arial; */
    text-align: center;
    color: #ffffff;
    background: #e2574c;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

/* --------------------------------------------------- */

.mainFooter {
    color: #fff;
    background-color: #242424;
    margin-top: 10px;

    padding: 50px 35px;
    height: auto;

    display: flex;
    align-items: stretch;
}

.mainFooter h2,
.mainFooter a {
    color: #fff;
}

.mainFooter a.email{
    text-decoration: underline;
    font-weight: bold;
}

.mainFooter address {
    color: #969696;
}

.mainFooter section{
    margin: 0 10px;
    width: 100%;
    line-height: 160%
}

.mainFooter section .phone{
    margin-top: 10px;
}

.mainFooter section address{
    margin-top: 10px;
    width: 100%;
    line-height: 120%
}

.mainFooter aside{
    min-width: 150px;
    max-width: 350px;
    line-height: 160%
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* *********************************** */

/* Tablet */
@media screen and (max-width: 599px) {

    .shoppingCard {
        order: 2;
    }

    .mainHeader nav{
        width: 100%;
        max-width: 590px;

        order: 3;
        padding-top: 9px;
        border-top: 1px solid #d7d7d7;
    }

    .mainHeader > section,
    .mainHeader > aside  {
        flex: 1;
    }

    .products .carousel-cell{
        width: 100%;
    }
}
@media screen and (min-width: 599px) {
    .products .carousel-cell{
        width: 50%;
    }
}
@media screen and (min-width: 800px) {
    .products .carousel-cell{
        width: 33%;
    }
}

/* Mobile */
@media screen and (max-width: 450px) {
    
    body {
        font-size: 14px;
    }

    .subscribeSection {
        line-height: 1.8em;
        font-size: smaller; 
    }
    
    .mainFooter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mainFooter * {
        align-items: center;
        justify-content: center;
    }

    .mainFooter aside ul {
        display: inline-flex
    } 
    .mainFooter aside {
        margin-top: 30px;
    }
    .mainFooter aside li div {
        width: 35px;
        font-size: 0;
    } 

}
@media screen and (max-width: 360px) {
    body {
        font-size: 10px;
    }

    .mainHeader nav ul{
        font-size: 1rem;
    }
}

/* Desckop */
@media screen and (min-width: 1240px) {
    .categories ul li{
        height: calc(1240px /4);
    }
    .products .carousel-cell{
        width: 25%;
    }
  }