
body {
    min-width: 300px;
    max-width: 1240px;
    color: #2d2d2d;
    margin: 0 auto;

    font-size: 16px;
    font-family: 'Raleway', Arial, sans-serif;    ;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Raleway Light';
    color: #e2574c;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.container {
    width: 1240px;
}

.hideText{
    font-size: 0;
}

/*-------------------------------*/

.mainHeader{
    width: 100%;
    display: inline-flex;
}

.mainHeader .logo {
    width: 120px;
    height: 60px;
    margin-left: 25px;
    background-image: url(img/aloha-logo.svg);
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-position-y: -30px;
}
.mainHeader nav{
    width: 100%;
}
.mainHeader nav ul{
    min-width: 200px;

    text-transform: uppercase;

    list-style: none;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}
.mainHeader nav ul li {
    margin: 10px 10px 10px 10px;
    display: inline;
}

.mainHeader nav a:link {
    color: #e2574c;
}

.mainHeader nav a:visited {
    color: #e2574c;
}

.mainHeader nav a:hover {
    color: #e2574c;
}

.mainHeader nav a:active {
    color: #e2574c;
}

.shoppingCard {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 25px;
}
.shoppingCard .shoppingCardImg {
    position: absolute;
    top: 0;
    left: 0; 
    width: 60px;
    height: 60px;
    background-image: url(img/cart-icon.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.shoppingCard  .shoppingCardItens {
    position: absolute;
    top: 0;
    right: 0;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    background: #73AD21;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-weight: bolder;
}

/*-------------------------------*/

.hero {
    position: relative;
    height: 65vh;
    max-height: 600px;
    color: white;
    background: url(img/banner-girl.png) bottom center no-repeat, url(img/flower-bkgd.jpg) top center no-repeat;
    background-attachment: fixed, fixed;
    background-size: auto 85%, cover;
}

.hero section {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.hero .text {
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); 
}

.hero h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
}
.hero h3 {
    font-size: 3rem;
    padding-top: 1rem;
    color: white;
}


/* --------------------------------------------------- */

.middle{
    height: 30vh;
    max-height: 250px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    line-height: 2rem;
    color: black;
}

.middle em{
    font-weight: bolder;
}

.middle div{
    max-width: 550px;
}

.middle h2{
    color: black;
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 1rem;
}

/* --------------------------------------------------- */

.categories{
    width: 100%;
    margin: 0px -5px;
}

.categories ul{
    list-style: none;
    text-transform: uppercase;
    font-size: 2rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: space-between;

    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.categories ul li{
    width: calc(25vw - 10px);
    min-width: 150px;
    max-width: 400px;
    height: 25vw;
    min-height: 150px;
    max-height: 400px;
    margin: 2.5px;

    display: inline-flex;
    flex-flow: wrap;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.categories ul li:first-child,
.categories ul li:last-child{
    width: calc(50vw - 10px);
    min-width: 300px;
    max-width: 800px;
}

.categories ul li div{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}


.categories a:link {
    color: white;
}

.categories a:visited {
    color: white;
}

.categories a:hover {
    color: white;
}

.categories a:active {
    color: white;
}

.menCat{
    background-image: url('img/mens-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.trendsCat{
    background-image: url('img/trends-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.glassesCat{
    background-image: url('img/glasses-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.saleCat{
    background-image: url('img/sale-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bagsCat{
    background-image: url('img/bags-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.womenCat{
    background-image: url('img/womens-category.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* --------------------------------------------------- */

.subscribeSection {
    background: url('img/wave-bkgd.jpg') bottom center no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    max-height: 250px;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    line-height: 1.2em;
    color: white;
}

.subscribeSection section {
    width: 100%;
    min-width: 300px;

    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.subscribeSection section:first-child {
    padding-top: 3rem; 
}
.subscribeSection h2{
    color: white;
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 1rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.subscribeSection em{
    font-weight: bolder;
}

.subscribeForm {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 25px;

    background: white;
    border-radius: 25px;
    padding: 5px;

    display: inline-block;
}

.subscribeForm input {
    width: 75%;
    outline: none;
    border: none;
}

.subscribeForm button {
    width: 20%;
    outline: none;
    border: none;
}
.subscribeForm input:focus {
    
    outline: none;
    border: none;
}

/* --------------------------------------------------- */

.mainFooter {
    color: whitesmoke;
    background-color: black;
 
    padding: 50px 35px;
    height: auto;

    display: flex;
    align-items: stretch;
}

.mainFooter h2,
.mainFooter a {
    color: whitesmoke;
}

.mainFooter a.email{
    text-decoration: underline;
    font-weight: bold;
}

.mainFooter address {
    color: gray;
}

.mainFooter section{
    margin-right: 10px;
    width: 100%;
    line-height: 160%
}

.mainFooter section address{
    margin-top: 10px;
    width: 100%;
    line-height: 120%
}

.mainFooter aside{
    min-width: 150px;
    max-width: 350px;
    line-height: 160%
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
